@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700;900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1f1f1;
    overflow-x: hidden;
}

/* mobile screen size */
header {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 20vh 5% 0;
}

nav {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 5%;
    mix-blend-mode: difference;
    z-index: 1200;
}


/* logo */
.logo {
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    mix-blend-mode: difference;
    z-index: 1100;
    /* background-color: #000; */
}

.logo a img {
    width: 80px;
}

/* links */
.navlinks {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 20vh 5% 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #000;
    transform: translateY(-100%);
    transition: transform 0.35s ease-in;
    z-index: 1000;
    /* mix-blend-mode: normal; */
}

.navlinks.active {
    transform: translateY(0%);
}

.navlinks li {
    list-style: none;
    height: 5rem;
}

.navlinks li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: 600;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 25px;
    justify-content: space-between;
    align-items: self-end;
    mix-blend-mode: difference;
    z-index: 1100;
    /* background-color: #000; */
}

.line {
    background-color: #f1f1f1;
    height: 2px;
    mix-blend-mode: difference;

}

.line1 {
    width: 35px;
    
}

.line2 {
    width: 25px;
}

.line3 {
    width: 15px;
}





/* hero section */
.hero {
    /* margin-top: 30vh; */
    width: 100%;
    height: 40vh;
    padding: 30px 0% 0px;
    border-top: 1px solid #00000070;
    border-bottom: 1px solid #00000070;
    display: flex;
    flex-direction: column;
}



.hero p:first-child {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.hero p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0px;
    display: flex;
    flex-direction: column;
}

.cta-btn {
    width: 160px;
    height: 30px;
    background-color: #00a7cc;
    color: #f1f1f1;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    padding-top: 6px;
    margin: 20px 0 0;
}


.header-slider {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 3rem 0;
}

.header-slider h1 {
    font-size: 10rem;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 100%;
    animation: right2left 5s infinite linear;
    z-index: 1;
}





 /* about section */
 .about-container {
    background-color: #e9e9e9;
    padding: 1rem 5% 3rem;
}

.about-container h3 {
    font-size: 28px;
    /* width: 900px; */
    margin: 50px 0 50px 0 ;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* padding: 10px 0px; */
    font-size: 16px;
}

.passion {
    font-size: 22px;
    font-weight: 500;
    /* width: 800px; */
}

.text {
    font-size: 16px;
    padding: 30px 0 ;
    line-height: 1.2;
}

.about-links {
    display: flex;
    flex-direction: column;
}

.about-links a {
    height: 40px;
    border-bottom: 1px solid #00000070;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.about-links a svg {
    width: 25px;
}










/* work section */
.work-conatiner {
    background-color: #e9e9e9;
    padding: 0rem 5%;
    width: 100%;
}

.work-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #00000070;
    margin-bottom: 3rem;
    flex-direction: column;
    padding: 2rem 0;
}

.work-heading p {
    font-size: 4rem;
    font-weight: 800;
}

.work-slider-container {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}


.box-container {
    min-width: 300px;
    height: 330px;
    overflow-y: scroll;
}


.box {
    width: 300px;
    height: 260px;
    margin-bottom: 1rem;
    background-image: url(/images/1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.box a {
    width: 100%;
    height: 100%;
}


.box-text {
    display: none;
}

.box-heading {
    height: 30px;
    border-top: 1px solid #00000070;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 0;
}








/* home services section */
.services-container {
    background-color: #000;
    padding: 10rem 5%;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}


.container {
    display: flex;
    flex-direction: column;
}

.icon-container{
    width: 100%;
    height: 300px;
    background-color: orange;
}

.services-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-heading {
    font-size: 24px;
    padding: 1rem 0;
}

.services-text-container p {
    font-size: 16px;
}












/* client home section */
.client-container {
    padding: 5rem 5%;
    /* height: 80vh; */
}

.client-logo-container {
    padding: 50px 0;
}


.logo-slide {
    display: flex;
    gap: 40px;
    overflow-x: hidden;
}

.logo-slide img {
    width: 100px;
}











/* testimonial section */
.testimonial-container {
    padding: 5rem 5%;
    background-color: #e9e9e9;
}

.testimonial-wrapper {
    padding: 5rem 0;
}


.testimonial-box-container {
    display: flex;
    gap: 40px;
    overflow-x: scroll;
}

.testimonial-box {
    height: 300px;
    min-width: 300px;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;        
}



.testimonial-box img {
    width: 100px;
}

.testimonial-box h5 {
    font-size: 20px;
}

.name-container {
    font-size: 16px;
}

.client-name {
    font-weight: 600;
}














/* footer */
footer {
    /* height: 128vh; */
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
}

.name-footer {
    color: #f1f1f1;
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 5rem 0 2rem 0;
}


.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 400px;
    padding-left: 0px;
    line-height: 1.5;
}

.footer-links-conainer {
    width: 100%;
}

.newletter-container {
    width: 100%;
    padding: 0;
}

.input {
    padding: 10px 0 ;
    /* border-bottom: 1px solid #f1f1f1; */
    width: 100%;
}

.input input {
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #f1f1f1;
}

.input button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #00a7cc;
    color: #f1f1f1;
    font-size: 18px;
    margin-top: 10px;
}


.newletter-container p {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
    padding-top: 30px;
}

.footer-navlinks {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0;
}

.footer-links p {
    color: #f1f1f1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.footer-links ul a {
    color: #f1f1f1;
    font-size: 16px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.copy-container {
    padding: 3rem 5% 0;
    width: 100%;
}

.copyright {
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 60px;
    border-top: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}










/* about apage */
/* about apage */
/* about apage */
/* about apage */
/* about apage */
.about-hero {
    border-top: 1px solid #000;
    /* padding: 0rem 5%; */
}

.about-info-container {
    padding: 5rem 5%;
}

.about-banner {
    height: 30vh;
    width: 100%;
    background-color: #00a7cc;
}





























/* laptop screen size */
@media screen and (min-width: 1024px) {
    header {
        height: 100vh;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 10vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 1000;
    }

    /* logo */
    .logo {
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
    }

    .logo a img {
        width: 100px;
    }

    

    /* links */
    .navlinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
        position: fixed;
        top: 0;
        right: 0;
        left: 55%;
        height: 10vh;
        background-color: transparent;
        transform: translateY(0%);
        padding: 0 0 0;
        mix-blend-mode: difference;
    }

    .navlinks li {
        list-style: none;
        width: 100%;
        /* background-color: #00a7cc; */
        display: grid;
        place-items: center;
    }

    .navlinks li a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
    }

    .burger {
        display: none;
    }







    /* hero */
    header {
        padding: 20vh 0 0;
    }
    .hero {
        width: 100%;
        height: 35vh;
        padding: 20px 5% 20px;
        flex-direction: row;
        
    }

    .hero p:first-child {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-top: 10px;
    }

    .hero p:nth-child(2) {
        font-family: 'Roboto', sans-serif;
        font-size: 38px;
        font-weight: 600;
        width: 800px;
        height: 100%;
        padding: 0 0 0 40px;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
    }

    .cta-btn {
        width: 160px;
        height: 50px;
        background-color: #00a7cc;
        color: #f1f1f1;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        text-decoration: none;
        padding-top: 12px;
        margin: 20px 0 0;
    
    }

    .cta-btn:hover {
        transition: 0.3s ease;
        background-color: #000;
    }

    .header-slider {
        width: 100%;
        height: 30vh;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        /* line-height: 2; */
        padding: 0;

        /* background-color: aqua; */
    }

    .header-slider h1 {
        font-size: 15rem;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        width: 100%;
        animation: right2left 5s infinite linear;
    }



    /* @keyframes right2left {
        from {
            transform: translateX(0%);
        } to {
            transform: translateX(-100%);
        }

    } */

    


    /* about container */
    .about-container {
        padding: 5rem 5%;
    }

    .about-container h3 {
        font-size: 40px;
        width: 700px;
        margin: 100px 0 100px 250px ;
    }

    .about-wrapper {
        display: flex;
        flex-direction: row;
    }

    .welcome {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        padding: 25px 40px;
        font-size: 16px;
    }

    .text-container {
        width: 70%;
        /* padding: 0 0 0 30px; */
    }

    .passion {
        font-size: 30px;
        font-weight: 500;
        width: 600px;
        /* text-transform: uppercase; */
    }

    .text {
        width: 500px;
        font-size: 16px;
        padding: 30px 0 ;
        line-height: 1.2;
    }

    .about-links {
        display: flex;
        flex-direction: column;
    }

    .about-links a {
        height: 80px;
        border-bottom: 1px solid #00000070;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .about-links a:hover {
        border-bottom: 1px solid #00a7cc;
        color: #00a7cc;
        padding: 0 20px;
        transition: 0.3s all ;
    }



    .about-links a:hover svg {
        fill: #00a7cc;
    }





    /* Work home section */
    .work-conatiner {
        padding: 0rem 5% 3rem;
    }

    .work-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #00000070;
        margin-bottom: 3rem;
        flex-direction: row;
        padding: 0;
    }

    .work-heading p {
        font-size: 8rem;
        font-weight: 800;
        width: 600px;
    }

    .work-btn {
        margin-bottom: 3rem;
    }


    .work-slider-container {
        width: 100%;
        padding: 5rem 2rem;
        display: flex;
        gap: 2rem;
        height: 660px;
    }

    .box-container {
        min-width: 600px;
        height: 600px;
        overflow: hidden;

    }

    .box {
        width: 600px;
        height: 520px;
        margin-bottom: 1rem;
        /* background-image: url(/images/1.png);
        background-repeat: no-repeat;
        background-position: center; */
    }

    .box:hover {
        transition: 0.3s ease-in;
        transform: scale(1.1);
    }

    .box a {
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .box:hover a {
        display: flex;
        
    }

    .box-text {
        width: 150px;
        height: 150px;
        background-color: #00a7cc;
        border-radius: 50%;
        color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
    }

    .box-heading {
        height: 40px;
        border-top: 1px solid #00000070;
        font-size: 20px;
        font-weight: 400;
        padding: 10px 0 0;
    }





    /* home services section */
    .services-container {
        background-color: #000;
        padding: 15rem 10%;
        color: #f1f1f1;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .container { 
        flex-direction: row;
    }

    .icon-container{
        width: 30%;
        height: 300px;
        background-color: orange;
    }

    .services-text-container {
        width: 70%;
    }

    .service-heading {
        font-size: 20px;
        padding: 0 0 1rem;
    }

    .services-text-container p {
        width: 500px;
        font-size: 16px;
    }


    /* client home section */
    .client-container {
        padding: 5rem 5%;
        /* height: 80vh; */
    }

    .client-logo-container {
        padding: 100px 0;
    }

    .logo-slide {
        display: flex;
        gap: 100px;
    }

    .logo-slide img {
        width: 180px;
    }








    /* testimonial section */
    .testimonial-container {
        padding: 5rem 5%;
        background-color: #e9e9e9;
    }

    .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-box-container {
        display: flex;
        gap: 30px;
    }

    .testimonial-box {
        height: 500px;
        min-width: 500px;
        background-color: #d4d4d4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;        
    }

    .testimonial-box img {
        width: 180px;
    }

    .testimonial-box h5 {
        font-size: 32px;
    }

    .name-container {
        font-size: 18px;
    }

    .client-name {
        font-weight: 600;
    }







    /* footer */
    footer {
        height: 128vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .name-footer {
        color: #f1f1f1;
        font-size: 6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 5rem 0 0 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        padding: 0 5%;
    }

    .footer-content {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #00a7cc;
    }

    .footer-content p {
        color: #f1f1f1;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        width: 300px;
        padding-left: 1rem;
        line-height: 1.5;
        padding-right: 1rem;
    }

    .footer-links-conainer {
        width: 50%;
        /* background-color: yellowgreen; */
    }

    .newletter-container {
        width: 100%;
        padding: 0 ;
    }

    .input {
        padding: 10px 0 ;
        border-bottom: 1px solid #f1f1f1;
        width: 100%;
    }

    .input input {
        background-color: transparent;
        width: 64%;
        height: 40px;
        border: none;
        font-size: 18px;
        border-bottom: none;

    }

    .input button {
        width: 35%;
        height: 40px;
        border: none;
        background-color: #00a7cc;
        color: #f1f1f1;
        font-size: 16px;
        margin-top: 0px;

    }

    .input button:hover {
        background-color: #f1f1f1;
        color: #000;
        transition: 0.3s ease-in-out;
    }

    .newletter-container p {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        color: #f1f1f1;
        padding-top: 0;
    }

    .footer-navlinks {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .footer-links p {
        font-size: 20px;
    }


    /* .footer-links ul {
        background-color: #00a7cc;
    } */

    .footer-links ul a {
        font-size: 14px;
    }

    .copy-container {
        padding: 0 10%;
    }










    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */
    .about-info-container {
        padding: 5rem 10%;
    }
    
    .about-banner {
        height: 80vh;
        width: 100%;
        background-color: #00a7cc;
    }






































    

}



















/* max screen size */
@media screen and (min-width: 1440px) {

    nav {
        padding: 0 10%;
    }

    /* logo */
    .logo {
        width: 150px;
    }

    .logo a img {
        width: 150px;
    }

    

   /* links */
   .navlinks {
    width: 35%;
}


    .navlinks li a {
        font-size: 18px;
        /* width: 140px; */
    }



    /* hero */
    .hero {
        /* margin-top: 3vh; */
        width: 100%;
        height: 40vh;
        /* padding: 40px 10% 0px; */
        
    }

    .hero p:first-child {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-top: 10px;
    }

    .hero p:nth-child(2) {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 600;
        width: 750px;
        height: 100%;
        padding: 0 0 0 40px;
        display: flex;
        flex-direction: column;
        line-height: 1.1;
    }

    .cta-btn {
        width: 160px;
        height: 50px;
        background-color: #00a7cc;
        color: #f1f1f1;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        text-decoration: none;
        padding-top: 15px;
        margin: 20px 0 0;
    
    }

    .cta-btn:hover {
        transition: 0.3s ease;
        background-color: #000;
    }

    .header-slider {
        width: 100%;
        height: 40vh;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        padding: 0;
    }

    .header-slider h1 {
        font-size: 20rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        line-height: 18rem;
        width: 100%;
        animation: right2left 5s infinite linear;
    }



    /* @keyframes right2left {
        from {
            transform: translateX(0%);
        } to {
            transform: translateX(-100%);
        }

    } */

    


    /* about container */
    .about-container {
        background-color: #e9e9e9;
        padding: 5rem 10%;
    }

    .about-container h3 {
        font-size: 60px;
        width: 900px;
        margin: 100px 0 100px 250px ;
    }

    .about-wrapper {
        display: flex;
    }

    .welcome {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        padding: 25px 40px;
        font-size: 18px;
    }

    .text-container {
        width: 60%;
        /* padding: 0 0 0 30px; */
    }

    .passion {
        font-size: 45px;
        font-weight: 500;
        width: 800px;
        /* text-transform: uppercase; */
    }

    .text {
        width: 600px;
        font-size: 20px;
        padding: 30px 0 ;
        line-height: 1.2;
    }

    .about-links {
        display: flex;
        flex-direction: column;
    }

    .about-links a {
        height: 80px;
        border-bottom: 1px solid #00000070;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

    .about-links a:hover {
        border-bottom: 1px solid #00a7cc;
        color: #00a7cc;
        padding: 0 20px;
        transition: 0.3s all ;
    }

    .about-links a svg {
        width: 25px;
    }

    .about-links a:hover svg {
        fill: #00a7cc;
    }

    /* Work home section */
    .work-conatiner {
        background-color: #e9e9e9;
        padding: 0rem 10%;
        width: 100%;
    }

    .work-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #00000070;
        margin-bottom: 3rem;

    }

    .work-heading p {
        font-size: 15rem;
        font-weight: 800;
        width: 600px;
    }

    .work-btn {
        margin-bottom: 3rem;
    }


    .work-slider-container {
        width: 100%;
        padding: 5rem 0 2rem;
        display: flex;
        gap: 2rem;
        height: 800px;
    }

    .box-container {
        min-width: 800px;
        height: 660px;
        overflow: hidden;
    }

    .box {
        width: 800px;
        height: 600px;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .box-img {
        width: 800px;
        height: 600px;
        background-image: url(/images/1.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .box:hover {
        transition: 0.3s ease-in;
        transform: scale(1.05);
    }

    .box a {
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .box:hover a {
        display: flex;
        
    }

    .box-text {
        width: 150px;
        height: 150px;
        background-color: #00a7cc;
        border-radius: 50%;
        color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
    }

    .box-heading {
        height: 40px;
        border-top: 1px solid #00000070;
        font-size: 20px;
        font-weight: 400;
        padding: 10px 0 0;
    }





    /* home services section */
    .services-container {
        background-color: #000;
        padding: 15rem 10%;
        color: #f1f1f1;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .container {
        display: flex;
    }

    .icon-container{
        width: 40%;
        height: 400px;
        background-color: orange;
    }

    .services-text-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service-heading {
        font-size: 26px;
        padding-bottom: 1rem;
    }

    .services-text-container p {
        width: 600px;
        font-size: 18px;
    }


    /* client home section */
    .client-container {
        padding: 5rem 10%;
        /* height: 80vh; */
    }

    .client-logo-container {
        padding: 100px 0;
    }

    .logo-slide {
        display: flex;
        gap: 100px;
    }

    .logo-slide img {
        width: 300px;
    }

    /* testimonial section */
    .testimonial-container {
        padding: 5rem 10%;
        background-color: #e9e9e9;
    }

    .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-box-container {
        display: flex;
        gap: 50px;
    }

    .testimonial-box {
        height: 600px;
        min-width: 600px;
        background-color: #d4d4d4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;        
    }

    .testimonial-box img {
        width: 180px;
    }

    .testimonial-box h5 {
        font-size: 32px;
    }

    .name-container {
        font-size: 18px;
    }

    .client-name {
        font-weight: 600;
    }







    /* footer */
    footer {
        height: 128vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name-footer {
        color: #f1f1f1;
        font-size: 10rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 5rem 0 0 0;
    }

    .footer-container {
        display: flex;
    }

    .footer-content {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #00a7cc;
    }

    .footer-content p {
        color: #f1f1f1;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        width: 400px;
        padding-left: 30px;
        line-height: 1.5;
    }

    .footer-links-conainer {
        width: 50%;
    }

    .newletter-container {
        width: 100%;
        padding: 5rem 5rem 0 2rem;
    }

    .input {
        padding: 10px 0 ;
        border-bottom: 1px solid #f1f1f1;
        width: 565px;
    }

    .input input {
        background-color: transparent;
        width: 400px;
        height: 50px;
        border: none;
        font-size: 18px;
    }

    .input button {
        width: 160px;
        height: 50px;
        border: none;
        background-color: #00a7cc;
        color: #f1f1f1;
        font-size: 18px;
    }

    .input button:hover {
        background-color: #f1f1f1;
        color: #000;
        transition: 0.3s ease-in-out;
    }

    .newletter-container p {
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        color: #f1f1f1;
    }

    .footer-navlinks {
        display: flex;
        width: 100%;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 5rem 5rem 0rem 2rem;
    }

    .footer-links p {
        color: #f1f1f1;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .footer-links ul a {
        color: #f1f1f1;
        font-size: 18px;
        height: 34px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    .copy-container {
        padding: 0 10%;
        width: 100%;
        

    }

    .copyright {
        color: #f1f1f1;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        width: 100%;
        height: 60px;
        border-top: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
    }

}
